<mat-progress-bar mode="indeterminate"></mat-progress-bar>
<mat-toolbar color="primary" class="footer">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="icon-button with menu icon"
    (click)="goHome()"
  >
    <mat-icon fontIcon="home"> </mat-icon>
  </button>

  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="icon-button with heart icon"
    (click)="goToToDo()"
  >
    <mat-icon>whatshot</mat-icon>
  </button>

  <button
    mat-icon-button
    class="example-icon"
    aria-label="icon-button with share icon"
    (click)="goMessages()"
  >
    <mat-icon>sms</mat-icon>
  </button>

  <button
    mat-icon-button
    class="example-icon"
    aria-label="icon-button with share icon"
    (click)="goProfile()"
  >
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>
